<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="animation" class="animation.Animation">
		<property name="setup" ref="setup"></property>
		<property name="walker" ref="walker"></property>
		<property name="frame" ref="textShow"></property>
	</bean>
	<bean id="setup" class="animation.Setup"></bean>
	<bean id="walker" class="animation.Walker"></bean>
	


	<bean id="mysql_project" class="SQL.MySQL_Project">
		<property name="conn" ref="communication"></property>
	</bean>
	<bean id="communication" class="SQL.Communication">
		<property name="doConnect" ref="doConnect"></property>
	</bean>
	<bean id="doConnect" class="SQL.DoConnect"></bean>
	
	<bean id="textShow" class="main.view.TextShow"></bean>
</beans>
